  {% load static %}
  
  <!-- Swiper -->
  <div class="swiper mySwiper w-full h-[520px]">
    <div class="swiper-wrapper">
        {% for project in projects %}
            <div class="swiper-slide">
                <div class="image-wrapper h-1/3">
                    <img src="{{ project.image_main.url }}" alt="">
                </div>
                <div class="content-wrapper h-2/3 bg-white flex flex-col items-start justify-between p-2.5 md:p-5 md:gap-y-4">
                    <div>
                        <h3 class="text-lg uppercase mb-1.5 md:mb-3">{{ project.title }}</h3>
                        <div class="flex flex-wrap gap-2">
                            {% for tag in project.technology_tags_list %}
                                <span class="text-xs text-white bg-primary-blue-500 py-1 px-2">
                                    {{ tag }}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <p class="text-sm">{{ project.short_summary }}</p>
                    </div>
                    <div>
                        <button class="modal-btn transition ease-in-out duration-300 px-8 py-3 bg-primary-blue-500 text-white hover:bg-primary-blue-600" data-projectId="{{ project.id }}">Read more</button>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
